{
  "plugins": [angular],
  "extends": ["eslint:recommended", "angular"],
  "rules": {
    "indent": [
      2,
      2,
      { "SwitchCase": 1 }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "angular/di": [
      2,
      "$inject"
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "mocha": true,
    "amd": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals" : {
    "chai"       : false,
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false,
    "inject"     : false
  }
}
