h2 Contact Form
form(name='form' sf-schema='vm.schema', sf-form='vm.form', sf-model='vm.model', ng-submit="vm.onSubmit(form)")

h3 Schema
pre {{vm.schema | json}}

h3 Form
pre {{vm.form | json}}

h3 Model
pre {{vm.model | json}}
